.git
.gitignore
.gitattributes
.editorconfig
.env
.env.backup
.env.example
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/storage
public/hot
docker-compose.yml
Dockerfile
.dockerignore
docker/
*.md
README.md
CHANGELOG.md
tests/
.phpunit*
phpunit.xml
.styleci.yml
